body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}



.edit-product-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
}

.product-image {
  text-align: center;
}
input#product-image-url {
  margin: 20px;
}


.product-image img {
  max-width: 100%;
  height: 400px;
  width: auto;
  display: block;
  margin: 0 auto 20px;
  border: black 5px solid;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  margin-bottom: 20px;
}

.quantity-editor label {
  margin-right: 10px;
}

.quantity-editor input {
  padding: 5px;
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.button-group{
  display: flex;
  justify-content: center;

}
.save-changes {
  background-color: #4CAF50;
}

.delete-product {
  background-color: #f44336;
}

.product-description p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

.quantity-editor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.name-of-prod{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.price-of-prod{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-description{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-evenly;
}
/* styles.css */
.centered-text {
  text-align: center;
}
.bubble {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  border: 2px solid #4CAF50; /* Example blue border */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Space between the border and content */
  margin: 10px auto; /* Top and bottom margins, auto on the sides to center the bubble */
  background-color: #E9ECEF; /* Light gray background */
  width: 300px; /* Fixed width */
}
/* Style for paragraphs inside each bubble to reduce vertical spacing */
.bubble p {
  margin: 4px 0; /* Reduced top and bottom margin */
}
